body{
    background-color: white;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #1b80df; */
    height: 100vh;
    margin-top: -60px;
}

h2{
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.login-header{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1b80df;
    align-items: center;
}

.form-container form{
    display: flex;
    flex-direction: column;
}

form input{
    min-width: 18rem;
    min-height: 1.5rem;
    border-radius: 6px;
    border:solid 2px #1b80df;
    padding-left: 12px;
}

form label{
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 100px;
    color: white;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1b80df;
    border: none;
    margin-top: 24px;
    border-radius: 12px;
}

form input:focus{
    border: none;
}

form{
    padding: 24px 24px 96px 23px;
    border-radius: 12px;
    background-color: #1b80df15;
}

.error-message p{
    /* background-color: rgba(255, 0, 0, 0.452); */
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}